body { padding-top: 51px; }

@media screen and (min-width: 768px) {
    .form-login {
        margin-top: 35%;
    }
}

@media screen and (max-width: 768px) {
    .form-login {
        padding-top: 5%;
    }
}

.list-dropdown-right {
    float:right;
}

.listItemSortHandle {
cursor: move;
}

.listSortHandle {
    cursor: move;
}

.fa-menu-icon {
    padding-right: 10px;
}

.completedItem {
    text-decoration: line-through;
}

.list-panel-group {
    margin-top: 20px;
    min-height:100px;
}

.listSortablePlaceholder {
    min-height: 80px;
    background: inherit;
    border-radius:5px;
	border-color: grey;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
}


/* set reference point */
.tab-fade > .tab-content {
    position:absolute;
    width: 93%;
}

/* set animate effect */
.tab-pane{
    transition: 0.15s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

/* opacity=0 when removing "active" class */
.tab-pane.active-remove-active {
    opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-pane.active-add {
    opacity: 0;
}